{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-4 my-3">
      <a href="{% url 'photos_create' %}">
        <div class="ratio ratio-1x1">
          <img src="https://pic.onlinewebfonts.com/svg/img_447863.png" alt="add-button" />
        </div>
      </a>
    </div>
    {% for photo in photos %}
    <div class="col-4 my-3">
      <a href="/photos/{{ photo.id }}/">
        <div class="card ratio ratio-1x1">
          <img class="img-thumbnail" src="{{photo.url}}" alt="{{ photo.title }}" />
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
