{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-4 my-3">
      <a href="{% url 'photos_create' %}">
        <div class="card ratio ratio-1x1">
          <div class="photo-content">+</div>
        </div>
      </a>
    </div>
    {% for photo in photos %}
    <div class="col-4 my-3">
      <a href="/photos/{{ photo.id }}/">
        <div class="card ratio ratio-1x1">
          <img class="card-img-top" src="{{photo.url}}" alt="{{ photo.title }}" />
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
