{% extends 'base.html' %} {% block content %} {% if no_access %}
<h1>You do not have access to this photo.</h1>
{% else %} {% if photo.author == user %}
<div class="card-action">
  <a href="{% url 'photos_update' photo.id %}">Edit</a>
  <a href="{% url 'photos_delete' photo.id %}">Delete</a>
</div>
{% endif %}
<div class="card" style="background-image: url({{photo.url}}); background-position: center;">
  <div class="card-content">x</div>
</div>
<h1>{{ photo.title }}</h1>
<input id="photo-url" type="text" value="{{ photo.url }}" style="display: block" />
<div class="photo-buttons">
  <button onclick="location.href='{{ photo.url }}'" type="button">Open Photo</button>
  <button onclick="copyUrl()" type="button">Copy URL</button>
</div>

<script>
  function copyUrl() {
    var url = document.querySelector('#photo-url');
    url.select();
    document.execCommand('copy');
  }
</script>
{% endif %} {% endblock %}
