{% extends 'base.html' %} {% block content %} {% if no_access %}
<h1>You do not have access to this photo.</h1>
{% else %}
<div class="card mx-auto my-5" style="width: 30rem">
  <img src="{{photo.url}}" class="card-img-top" alt="{{ photo.title }}" />
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ photo.title }}</h5>
      {% if photo.author == user %}
      <div class="card-action mx-3">
        <a class="btn btn-warning" href="{% url 'photos_update' photo.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'photos_delete' photo.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    <input id="photo-url" type="text" value="{{ photo.url }}" style="display: block" />
    <div class="photo-buttons my-2">
      <a href="{{ photo.url }}" class="btn btn-secondary" type="button"> Open Photo </a>
      <button class="btn btn-secondary" onclick="copyUrl()" type="button">Copy URL</button>
    </div>
  </div>
</div>

<script>
  function copyUrl() {
    var url = document.querySelector('#photo-url');
    url.select();
    document.execCommand('copy');
  }
</script>
{% endif %} {% endblock %}
