{% extends 'base.html' %} {% block content %} {% if no_access %}
<h1>You do not have access to this photo.</h1>
{% else %} {% if photo.author == user %}
<div class="card-action">
  <a href="{% url 'photos_update' photo.id %}">Edit</a>
  <a href="{% url 'photos_delete' photo.id %}">Delete</a>
</div>
{% endif %}
<div class="interaction">
  <button type="button" name="Like" id="like-button">
    <a href="{% url 'interact_photo' photo.id %}?interaction=L"><i class="far fa-thumbs-up"></i></a>
  </button>
  <button type="button" name="Bomb" id="bomb-button">
    <a href="{% url 'interact_photo' photo.id %}?interaction=B"><i class="fas fa-bomb"></i></a>
  </button>
  <button type="button" name="Question" id="question-button">
    <a href="{% url 'interact_photo' photo.id %}?interaction=Q"><i class="fas fa-question"></i></a>
  </button>
</div>
<img src="{{photo.url}}" />
<h1>{{ photo.title }}</h1>
<input id="photo-url" type="text" value="{{ photo.url }}" style="display: block" />
<div class="photo-buttons">
  <button onclick="location.href='{{ photo.url }}'" type="button">Open Photo</button>
  <button onclick="copyUrl()" type="button">Copy URL</button>
</div>

<script>
  function copyUrl() {
    var url = document.querySelector('#photo-url');
    url.select();
    document.execCommand('copy');
  }
</script>
{% endif %} {% endblock %}
